insmod all_video
insmod vbe
insmod vga
insmod video_bochs
insmod video_cirrus
insmod gfxterm
set gfxmode=640x480x32
set default=0
set timeout=0

menuentry "StOS with debug mode enabled" {
	multiboot2 /boot/stos "debug"
	module2 /boot/stos.initrd "initrd"
}

menuentry "StOS" {
	multiboot2 /boot/stos
	module2 /boot/stos.initrd "initrd"
}
